body,
ul,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
div {
  margin: 0;
  padding: 0;
  font: 14px 微软雅黑;
  box-sizing: border-box;
}

ul,
li,
dl,
dd,
dt {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: bottom;
}

input {
  border: 0 none;
  outline-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.w {
  width: 1200px;
  margin: 0 auto;
}
